In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:/Sharpest_Minds/projects/NLP_projects/data_files/part-00000-ef634aab-c0f7-4af5-8f64-e27685d8d397-c000.csv")

In [3]:
df.head()

  http://www.newstribune.com/news/local/story/2019/feb/26/jury-johnson-county-hear-case-woman-accused-darnell-grays-death/767435/
0  https://www.freemalaysiatoday.com/category/hig...
1  https://www.freemalaysiatoday.com/category/hig...
2  https://www.msn.com/en-au/news/other/bellamys-...
3  https://www.msn.com/en-au/news/other/bellamys-...
4  https://www.ksmu.org/post/emma-thompson-quits-...

In [4]:
df.columns = ['sourceurl']

In [5]:
df.head()

                                           sourceurl
0  https://www.freemalaysiatoday.com/category/hig...
1  https://www.freemalaysiatoday.com/category/hig...
2  https://www.msn.com/en-au/news/other/bellamys-...
3  https://www.msn.com/en-au/news/other/bellamys-...
4  https://www.ksmu.org/post/emma-thompson-quits-...

In [6]:
urls = df['sourceurl'].unique()

In [7]:
from w3lib.url import url_query_cleaner
from url_normalize import url_normalize

def canonical_url(u):
    u = url_normalize(u)
    u = url_query_cleaner(u,parameterlist = ['utm_source','utm_medium','utm_campaign','utm_term','utm_content'],remove=True)

    if u.startswith("http://"):
        u = u[7:]
    if u.startswith("https://"):
        u = u[8:]
    if u.startswith("www."):
        u = u[4:]
    if u.endswith("/"):
        u = u[:-1]
    return u

url_list = list(map(canonical_url,urls))

In [8]:
def split_url(url):
    lis=[]
    for i in url:
        c =urlparse(i)
        lis.append(c)
    return lis

In [9]:
df2=pd.DataFrame(url_list)
df2.head()

                                                   0
0  freemalaysiatoday.com/category/highlight/2019/...
1  msn.com/en-au/news/other/bellamys-australia-1s...
2  ksmu.org/post/emma-thompson-quits-film-after-s...
3  govtech.com/security/California-AG-Wants-to-Ad...
4  newsmax.com/finance/streettalk/macys-jobs-rest...

In [10]:
df2.columns = ['urlname']

In [11]:
new_df = pd.DataFrame(df2.urlname.str.split('/').tolist())

In [12]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,freemalaysiatoday.com,category,highlight,2019,02,27,australias-labour-abuse-crackdown-will-protect...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,msn.com,en-au,news,other,bellamys-australia-1st-half-profit-falls-amid-...,ar-BBU7PCU,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,ksmu.org,post,emma-thompson-quits-film-after-studio-hires-ex...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,govtech.com,security,California-AG-Wants-to-Add-Teeth-to-State-Data...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,newsmax.com,finance,streettalk,macys-jobs-restructuring-store,2019,02,26,id,904528,None,...,None,None,None,None,None,None,None,None,None,None

In [13]:
new_df.columns

RangeIndex(start=0, stop=29, step=1)

In [15]:
new_df = new_df.set_axis(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10', 'col11', 'col12', 'col13', 'col14', 'col15', 'col16', 'col17', 'col18', 'col19', 'col20', 'col21', 'col22', 'col23', 'col24','col25', 'col26', 'col27', 'col28', 'col29'], axis=1, inplace=False)

In [16]:
new_df.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col20,col21,col22,col23,col24,col25,col26,col27,col28,col29
0,freemalaysiatoday.com,category,highlight,2019,02,27,australias-labour-abuse-crackdown-will-protect...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,msn.com,en-au,news,other,bellamys-australia-1st-half-profit-falls-amid-...,ar-BBU7PCU,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,ksmu.org,post,emma-thompson-quits-film-after-studio-hires-ex...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,govtech.com,security,California-AG-Wants-to-Add-Teeth-to-State-Data...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,newsmax.com,finance,streettalk,macys-jobs-restructuring-store,2019,02,26,id,904528,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
new_df.drop(new_df.iloc[:, 2:29], inplace = True, axis = 1)

In [18]:
new_df.head()

                    col1      col2
0  freemalaysiatoday.com  category
1                msn.com     en-au
2               ksmu.org      post
3            govtech.com  security
4            newsmax.com   finance

In [19]:
new_df = new_df.set_axis(['website', 'category'], axis=1, inplace=False)

In [20]:
new_df['website'].value_counts()

dailymail.co.uk          87116
msn.com                  70737
business-standard.com    68745
news.yahoo.com           55242
menafn.com               45595
                         ...
wickedhorror.com             1
koltfm.iheart.com            1
latinlawyer.com              1
southaustralia.com           1
963realcountry.com           1
Name: website, Length: 36737, dtype: int64

In [21]:
new_df.groupby('website')['category'].count().sort_values(ascending=False).head(20)

website
dailymail.co.uk                87116
msn.com                        70737
business-standard.com          68745
news.yahoo.com                 55242
menafn.com                     45595
allafrica.com                  38547
sfgate.com                     36883
thenews.com.pk                 36200
reuters.com                    34976
timesofindia.indiatimes.com    34044
thehindu.com                   30938
washingtonpost.com             30471
nbcnews.com                    29817
indianexpress.com              29772
xinhuanet.com                  26664
cbc.ca                         24548
theguardian.com                23767
finance.yahoo.com              22990
express.co.uk                  22691
foxnews.com                    22338
Name: category, dtype: int64

In [22]:
dns_df = new_df.website.str.split('.')

In [23]:
dns_df

0          [freemalaysiatoday, com]
1                        [msn, com]
2                       [ksmu, org]
3                    [govtech, com]
4                    [newsmax, com]
                     ...
8917256                 [wisn, com]
8917257            [xinhuanet, com]
8917258           [alaraby, co, uk]
8917259        [lubbockonline, com]
8917260         [citizentv, co, ke]
Name: website, Length: 8917261, dtype: object

In [24]:
new_df1 =new_df[new_df.category  == "news"]

In [25]:
new = new_df["website"].str.split(".", n = -1, expand = True)

In [26]:
new

                         0    1     2     3     4
0        freemalaysiatoday  com  None  None  None
1                      msn  com  None  None  None
2                     ksmu  org  None  None  None
3                  govtech  com  None  None  None
4                  newsmax  com  None  None  None
...                    ...  ...   ...   ...   ...
8917256               wisn  com  None  None  None
8917257          xinhuanet  com  None  None  None
8917258            alaraby   co    uk  None  None
8917259      lubbockonline  com  None  None  None
8917260          citizentv   co    ke  None  None

[8917261 rows x 5 columns]

In [27]:
new_df["domain"]= new[1]

In [28]:
new_df

                       website  category domain
0        freemalaysiatoday.com  category    com
1                      msn.com     en-au    com
2                     ksmu.org      post    org
3                  govtech.com  security    com
4                  newsmax.com   finance    com
...                        ...       ...    ...
8917256               wisn.com   article    com
8917257          xinhuanet.com   english    com
8917258          alaraby.co.uk   english     co
8917259      lubbockonline.com      news    com
8917260        citizentv.co.ke      news     co

[8917261 rows x 3 columns]

In [29]:
ca_df =new_df[new_df.domain  == "ca"]

In [30]:
ca_df.shape

(98235, 3)

In [31]:
news_ca_df =ca_df[ca_df.category  == "news"]

In [32]:
news_ca_df['website'].value_counts()

cbc.ca                   22716
globalnews.ca             7487
thechronicleherald.ca     1561
grandforksgazette.ca      1200
pentictonherald.ca         614
                         ...
moneysense.ca                1
todaysfarmer.ca              1
anglican.ca                  1
empireadvance.ca             1
melitanewera.ca              1
Name: website, Length: 129, dtype: int64

In [33]:
ca_com_df = new_df[new_df.domain.isin(['ca', 'com'])]

In [34]:
ca_com_df

                       website   category domain
0        freemalaysiatoday.com   category    com
1                      msn.com      en-au    com
3                  govtech.com   security    com
4                  newsmax.com    finance    com
7            cavalierdaily.com    article    com
...                        ...        ...    ...
8917254              cbs58.com       news    com
8917255          alabamawx.com  ?p=180845    com
8917256               wisn.com    article    com
8917257          xinhuanet.com    english    com
8917259      lubbockonline.com       news    com

[6379179 rows x 3 columns]

In [35]:
ca_com_df.shape

(6379179, 3)

In [36]:
news_ca_com_df =ca_com_df[ca_com_df.category  == "news"]

In [37]:
news_ca_com_df

                   website category domain
10               omaha.com     news    com
12                kelo.com     news    com
13       marklevinshow.com     news    com
14           cantonrep.com     news    com
17                koin.com     news    com
...                    ...      ...    ...
8917248     nhregister.com     news    com
8917252      salemnews.com     news    com
8917253          chron.com     news    com
8917254          cbs58.com     news    com
8917259  lubbockonline.com     news    com

[1728502 rows x 3 columns]

In [38]:
news_ca_com_df['website'].value_counts()

sfgate.com            29334
thehindu.com          25198
cbc.ca                22716
dawn.com              16746
chron.com             13372
                      ...
larecord.com              1
plaidhatgames.com         1
umfm.com                  1
haveagonews.com.au        1
webmd.com                 1
Name: website, Length: 4639, dtype: int64

In [39]:
ca_com_df.shape

(6379179, 3)

In [40]:
ca_com_df.groupby('website')['category'].count().sort_values(ascending=False).head(20)

website
msn.com                  70737
business-standard.com    68745
menafn.com               45595
allafrica.com            38547
sfgate.com               36883
thenews.com.pk           36200
reuters.com              34976
thehindu.com             30938
washingtonpost.com       30471
nbcnews.com              29817
indianexpress.com        29772
xinhuanet.com            26664
cbc.ca                   24548
theguardian.com          23767
foxnews.com              22338
timesnownews.com         21777
patch.com                21697
sunnewsonline.com        21573
nytimes.com              20348
chron.com                20055
Name: category, dtype: int64

In [41]:
forbes_df = df2.query('urlname.str.contains("forbes.com")')

In [43]:
forbes_df.shape

(15149, 1)

In [44]:
forbes_df.to_csv('forbes.csv', header=True, index=None)

In [45]:
globalnews_df = df2.query('urlname.str.contains("globalnews.ca")')

In [46]:
globalnews_df.to_csv('globalnews.csv', header=True, index=None)

In [47]:
new_df.category.unique

<bound method Series.unique of 0          category
1             en-au
2              post
3          security
4           finance
             ...
8917256     article
8917257     english
8917258     english
8917259        news
8917260        news
Name: category, Length: 8917261, dtype: object>

In [48]:
category_df = new_df.category.unique()

In [49]:
category_df

array(['category', 'en-au', 'post', ...,
       'affordable-power-for-all-will-get-top-priority-in-next-5-yr-nasrul',
       'new-year-nscdc-assure-adequate-security-in-kaduna', '?p=180845'],
      dtype=object)

In [50]:
import csv
with open('category.csv','w') as result_file:
    wr = csv.writer(result_file, dialect='excel')
    wr.writerow(category_df)

In [51]:
politics_ca_com_df =ca_com_df[ca_com_df.category  == "politics"]

In [52]:
nbcnews_df = df2.query('urlname.str.contains("nbcnews.com/politics")')

In [53]:
nbcnews_df.to_csv('nbcnews.csv', header=True, index=None)

In [54]:
nbcnews_df.shape

(6530, 1)

In [55]:
movies_ca_com_df =ca_com_df[ca_com_df.category  == "movies"]

In [56]:
hollywood_df = df2.query('urlname.str.contains("hollywood.com/movies")')

In [57]:
movies_ca_com_df.website.unique()

array(['wegotthiscovered.com', 'comicbook.com', 'digitalspy.com',
       'people.com', 'empireonline.com', 'sify.com', 'ew.com', '98fm.com',
       'uproxx.com', 'followingthenerd.com', 'straight.com',
       '411mania.com', 'geek.com', 'clickthecity.com', 'flagpole.com',
       'superherohype.com', 'digitaltrends.com', 'monstersandcritics.com',
       'sfreporter.com', 'insing.com', 'guidelive.com', 'tribute.ca',
       'metroactive.com', 'theringer.com', 'sandiegoreader.com',
       'rediff.com', '2lt.com.au', 'rollingstone.com', 'wtop.com',
       'tampabay.com', 'sbs.com.au', 'realclearlife.com',
       'free-times.com', 'nowtoronto.com', 'nola.com', 'greatandhra.com',
       'citypages.com', 'reelrundown.com', 'pride.com', 'sfgate.com',
       'joblo.com', 'out.com', 'avn.com', 'syracuse.com',
       'portlandmercury.com', 'popculture.com', 'flickdirect.com',
       'revelist.com', 'sdentertainer.com', 'sfchronicle.com',
       'afterellen.com', 'maoritelevision.com', 'allindiaroundup.com',
       'popzara.com', 'thterrortime.com', 'bust.com', 'uptv.com',
       'hollywood.com', 'hbo.com', 'mysanantonio.com', 'mylifetime.com',
       'seattlepi.com', 'indiantelevision.com',
       'imperatriznoticias.com.br', 'thehdroom.com', 'timesunion.com'],
      dtype=object)

In [58]:
movies_ca_com_df['website'].value_counts()

wegotthiscovered.com    629
digitalspy.com          403
ew.com                  327
sify.com                300
empireonline.com        292
                       ...
syracuse.com              1
bust.com                  1
free-times.com            1
thehdroom.com             1
timesunion.com            1
Name: website, Length: 66, dtype: int64

In [59]:
category_all = new_df['category'].value_counts()

In [60]:
print(category_all)

news                                                                             2373779
2019                                                                              968988
article                                                                           462365
story                                                                             207850
opinion                                                                           144013
                                                                                  ...
harvey-weinstein-pleads-not-guilty-to-new-charges-of-predatory-sexual-assault          1
baby-killer-kathleen-folbigg-testifies-about-her-diaries                               1
indonesias-ministry-of-tourism-partners-to-boost-tourism-through-technology            1
driver-ditches-burning-car-after-driving-into-tree-in-southeast-fresno                 1
Another-military-service-member-securing-border-found-dead-southern-AZ                 1
Name: category, Length: 1213370, dtype: int64

In [62]:
import csv
with open('category_all.csv','w') as result_file:
    wr = csv.writer(result_file, dialect='excel')
    wr.writerow(category_all)

In [63]:
lifestyle_df = df2.query('urlname.str.contains("lifestyle")')

In [64]:
lifestyle_df.shape

(50097, 1)

In [67]:
lifestyle_df.urlname.unique()

array(['sandiegouniontribune.com/lifestyle/food-and-cooking/sd-fo-product-kpop-sauces-20190226-story.html',
       'thecourier.co.uk/lifestyle/837181/eastenders-ruby-allen-begs-for-forgiveness-after-confronting-sex-assault-victim',
       'msn.com/en-nz/lifestyle/lifestylegeneral/what-the-queen-thinks-about-duchess-meghan-working-late-into-her-pregnancy/ar-BBU7V4L',
       ...,
       'afr.com/lifestyle/health/a-map-of-the-brains-genetic-landscape-20181214-h1959s',
       'thecourier.co.uk/lifestyle/794462/doctor-who-viewers-unimpressed-with-brexit-reference',
       'scotsman.com/lifestyle/2019-preview-scotland-set-for-year-of-anniversaries-and-reflection-1-4850900'],
      dtype=object)

In [69]:
lifestyle_df['urlname'].value_counts()

msn.com/en-in/lifestyle/lifestylebuzz/chantel-jeffries-shops-for-the-perfect-pair-of-heels/vi-BBTUKyJ                                               2
msn.com/en-in/lifestyle/whats-hot/crying-fair-5-reasons-why-we-are-still-talking-about-fairness-and-light-skinned-complexions-in-2019/ar-BBWlecw    2
sungazette.com/life/lifestyle-news/2019/07/muncy-man-celebrates-apollo-11s-50th-anniversary                                                         2
konbini.com/en/lifestyle/instagrammers-love-it-but-this-russian-turquoi-lake-actually-toxic                                                         2
surfky.com/index.php/151-lifestyles/lifestyles-hopkins/137276-james-sanchez-lead-storm-in-region-archery-tournament                                 2
                                                                                                                                                   ..
washingtonpost.com/lifestyle/style/bruce-springsteen-and-madonna-are-subcultures-now/2019/06/17/d0834560-910c-11e9-b570-6416efdc0803_story.html     1
gonintendo.com/stories/330604-tetris-brand-announced-major-expansion-of-lifestyle-brand-portfol                                                     1
ironmountaindailynews.com/lifestyles/life/2019/01/its-better-to-make-life-resolutions-not-new-years-ones                                            1
vtdigger.org/2019/04/16/chuck-mercier-rethinking-plastics-lifestyle                                                                                 1
enewscourier.com/news/lifestyles/alabama-historical-commission-announces-grant-program/article_f38e3c1a-afeb-11e9-a537-3b333e004bd6.html            1
Name: urlname, Length: 49956, dtype: int64

In [70]:
lifestyle_df

                                                   urlname
89       sandiegouniontribune.com/lifestyle/food-and-co...
1145     thecourier.co.uk/lifestyle/837181/eastenders-r...
1172     msn.com/en-nz/lifestyle/lifestylegeneral/what-...
1397     msn.com/en-nz/lifestyle/style/selfridges-becom...
1535     yahoo.com/lifestyle/heaven-strict-immigration-...
...                                                    ...
8916745  scmp.com/lifestyle/interiors-living/article/21...
8916843  afr.com/lifestyle/ray-hill-preacher-cat-burgla...
8916880  afr.com/lifestyle/health/a-map-of-the-brains-g...
8917034  thecourier.co.uk/lifestyle/794462/doctor-who-v...
8917107  scotsman.com/lifestyle/2019-preview-scotland-s...

[50097 rows x 1 columns]

In [71]:
lifestyle_df.to_csv('lifestyle.csv', header=True, index=None)

In [72]:
# collecting website address from the original dataframe
forbes_df_new = df.query('sourceurl.str.contains("forbes.com")')

In [79]:
forbes_df_new.head()

                                               sourceurl
15244  https://www.forbes.com/sites/paulspiegelman/20...
15257  https://www.forbes.com/sites/virgietovar/2019/...
21507  https://www.forbes.com/sites/meriameberboucha/...
22100  https://www.forbes.com/colleges/george-mason-u...
22157  https://www.forbes.com/colleges/george-mason-u...

In [80]:
forbes_df_new.sourceurl.unique()

array(['https://www.forbes.com/sites/paulspiegelman/2019/02/26/in-this-health-care-organization-core-values-are-more-contagious-than-the-flu/',
       'https://www.forbes.com/sites/virgietovar/2019/02/26/first-ever-transgender-cultural-district-co-founded-by-xlbosslady-aria-said/',
       'https://www.forbes.com/sites/meriameberboucha/2019/02/26/nasa-will-carry-out-drone-tests-in-nevada-texas/',
       ...,
       'https://www.forbes.com/sites/jenniferhicks/2019/01/01/here-are-six-robot-and-smart-device-predictions-for-2019/',
       'https://www.forbes.com/sites/yolarobert1/2019/01/01/the-founder-of-suja-juice-annie-lawless-is-reimagining-clean-makeup/',
       'https://www.forbes.com/sites/andrewhusband/2019/01/01/netflix-patriot-act-hasan-minhaj-saudi-arabia-episode/'],
      dtype=object)

In [ ]:
forbes_df_new.to_csv('forbes2.csv', header=True, index=None)

In [82]:
forbes_df_new.head(5)

                                               sourceurl
15244  https://www.forbes.com/sites/paulspiegelman/20...
15257  https://www.forbes.com/sites/virgietovar/2019/...
21507  https://www.forbes.com/sites/meriameberboucha/...
22100  https://www.forbes.com/colleges/george-mason-u...
22157  https://www.forbes.com/colleges/george-mason-u...

In [83]:
forbes_df_new.to_csv('forbes2.csv', header=True, index=None)